# OpenCV (CPU-Only)
# For CUDA support, build from source or use the package provided by your GNU/Linux distribution
opencv-python
opencv-contrib-python

numpy
scikit-image
pangolin-tool

# OpenGL
pyopengl
pyopengl-accelerate

# SDL2
pysdl2
pysdl2-dll

# The version provided on PyPi does not work on Linux. 
# Please use the install script provided in this repo instead.
#g2o-python


